{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}">
{% endblock %}

{% block content %}
<div class="container">
	<h1>
        {{ title }}
    </h1>
    <ul>
        <li>
            Train set
            <a href="fold/1">1</a>
            <a href="fold/2">2</a>
            <a href="fold/3">3</a>
            <a href="fold/4">4</a>
            <a href="fold/5">5</a>
        </li>
        <li>
            <a href="test">Test set</a>
        </li>
    </ul>
</div>
{% endblock %}
