{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}">
{% endblock %}

{% block content %}
<div class="container">
	<h1>
        {{ title }}
        <small class="text-muted">
            size {{ size }}, fold {{ fold }}
        </small>
    </h1>
	{% for group in assoc %}
	<div class="row">
		{% for dict in group %}
        <figure class="figure col-lg-4 col-md-4 col-lg-3" style="color: {{"red" if dict["not-available"] else "black"}}">
            <img src="{{ dict["image-path"] }}" height="180" width="270" alt="">
            <figcaption class="figure-caption">
                tag: <code>{{ dict["tag"] }}</code>
                matched: <code>{{ dict["is-matched"] }}</code>
                <br>
                class: <code>{{ dict["image-class"] }}</code>
                <br>
                <i>{{ dict["command"] }}</i>
            </figcaption>
		</figure>
		{% endfor %}
	</div>
	{% endfor %}
</div>
{% endblock %}
