{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}">
{% endblock %}

{% block content %}
<div class="container">
	<h1>
        {{ title }}
    </h1>
    {% for datum in data %}
    <div class="row">
        <div class="col-md-4">
            <figure class="figure">
                <img src="{{ datum["image-path"] }}" height="180" width="270" alt="">
            </figure>
        </div>
        <div class="col-md-8">
            <b>id:</b> {{ datum["id"] }} <br>
            <b>groundtruth:</b> {{ datum["command"] }} <br>
            <b>predicted → rnn text:</b>
            <span class="{{ "text-success" if datum["is-correct"]["txt"] else "text-danger" }}"> {{ datum["predicted"]["txt"] }} </span> <br>
            <b>predicted → rnn image:</b>
            <span class="{{ "text-success" if datum["is-correct"]["img"] else "text-danger" }}"> {{ datum["predicted"]["img"] }} </span> <br>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col" colspan="2">rnn text</th>
                        <th scope="col" colspan="2">rnn image</th>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">predicted</th>
                        <th scope="col">rank</th>
                        <th scope="col">score</th>
                        <th scope="col">rank</th>
                        <th scope="col">score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, row in datum["n-best"] %}
                    <tr>
                        <th scope="row">{{ i }}</th>
                        <td>{{ row[0] }}</td>
                        <td class="{{ "info" if row[3] else "" }}">{{ row[1] }}</td>
                        <td class="{{ "info" if row[3] else "" }}">{{ row[2] }}</td>
                        <td class="{{ "info" if row[6] else "" }}">{{ row[4] }}</td>
                        <td class="{{ "info" if row[6] else "" }}">{{ row[5] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
